language: python
dist: xenial
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
install:
    - pip install .
    - pip install flake8 hacking pytest mock
script:
    - flake8
    - pytest
    - rime
    - mkdir tmp && cd tmp && rime_init --git && cd ..
    - cd example && rime help
    - rime test && rime clean
    - rime htmlify_full && rime clean
notifications:
    email:
        on_success: never
        on_failure: never
